html,
body {
  height: 100%;
}
header > .navbar-brand{
  color:#ffffff
}
header > .comptask {
margin-right: 10px;
}

header > .navbar-expand-md{
  background-color: #107585;
}
header > a.nav-item {
  color: #ffffff;
}
header > li.nav-item{
  color: #ffffff;
}
header > li.nav-item.dropdown{
  color: #ffffff;
}
header > span.d-inline-block.exbutton ,header > input.btn.btn-link.comptask ,header > input.btn.btn-link.logout {
  color: #ffffff;
}


body {
  margin: 0;
  display: flex;
  flex-flow: column;
  background-color: #f5f5f5;
  min-height: 100vh;
}

main > .container {
  padding: 60px 15px 0;
  flex: 1;
}

footer {
  background-color: #f5f5f5;
}