html,
body {
    height: 100%;
}
header > .navbar-brand{
    color: #ffffff
}
header > .comptask {
    margin-right: 10px;
}

header > .navbar-expand-md{
    background-color: #107585;
}
header > span.d-inline-block {
    color: #ffffff;
}

body {

    display: flex;
    background-color: #f5f5f5;
}

.row .displaytaskname {
    word-break: break-all;
}
.row .displaytaskvalue {
    word-break: break-all;
}

.completetaskname {
    word-break: break-all;
}

.completetaskvalue {
    word-break: break-all;
}

main > .container {
    padding: 60px 15px 0;
    flex: 1;
}

footer {
    background-color: #f5f5f5;
}