#editmodal .modal-content {
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
  #editmodal .close {
    color: #fff;
    opacity: 1;
  }
  #editmodal .modal-body {
    background-color: #fff;
  }